#video,
#canvas{
    width: 640px;
    height: 480px;
    border: 1px solid red;
}

#video{
    display: none;
}

canvas{
    display: none !important;
}

.alert{
    display: none;
    width: 100%;
    height: 100%;
}